@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.body{
 font-family: 'Staatliches', cursive;
}


.submit-form {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 50px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar{
  background-color: #2980b9;
}